<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kubernetes Workshop</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/style.css') }} ">
  </head>

  <body style="background-color:#E8F8F5;">

    <h1 style="color:#66BFBF;">Welcome to Kubernetes Workshop</h1>
    <img src="../static/img/k8s_logo.png" alt="k8s" class="k8s"/>
    <h1 style="color:#66BFBF;">Total Visits to the page: {{ hits }}</h1>
  </body>

</html>
