<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kubernetes Workshop</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/style.css') }} ">
  </head>

  <div class="content">
  <body style="background-color:#F9E79F;">

    <h1 style="color:#66BFBF; font-size:64px;">Welcome to Kubernetes Workshop</h1>
    <img src="../static/img/k8s_logo.png" alt="k8s" class="k8s"/>
    <h1 style="color:#7D6608;">Total Visits to the page: {{ hits }}</h1>
  </body>
  </div>
</html>

